* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 800px;
}
.container {
  display: flex;
  flex-direction: column;
}
.post {
  display: inline-block;
}
.page__wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.page {
  padding: 15px;
  border: 1px solid teal;
  cursor: pointer;
}
.page__current {
  border: 2px solid orange;
  font-weight: bold;
}
